{% macro displaySourceList(source_list) %} {% for source in source_list %}
<a href="/news/{{source.id}}">{{source.name}}</a>

{% endfor %} {% endmacro %} 
{% macro displayArticleList(articles_list) %} 
{% for article in articles_list %}
<div class="col-sm-4">
        
<div class="card card-cascade narrower">
                <div class="view overlay hm-white-slight">
                    <img src="{{article.urlToImage}}" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{article.title}}</h5>
                    <p class="card-text">{{article.description}}</p>    
                    <p>Published at: {{article.publishedAt}}<p> 
                    <a class="btn btn-unique" href="{{article.url}}">Click here for more</a>
                    
                
                    
                </div>
            
            </div>
        </div>
        {% endfor %} {% endmacro %}



        